@{
   Layout = "~/Views/Shared/_Layout2.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <p style="float: right">
        <a href="#modal-createTeam" data-toggle="modal" class="btn btn-primary">Create New Team</a>
    </p>

    <br />
    <br />
    <br />

    <div class="modal fade tiny" id="modal-createTeam" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog layout-login">
            <div class="modal-content">

                <div class="modal-body">


                    <span class='white bold block text-center margin-bottom-small'></span>



                    <div class='panel themenav-border boxshadow-darkblue'>
                        <div class='panel-encase'>

                            <h3 class="margin-bottom margin-top text-center uppercase" style="color:black"><i class='fa fa-bars'></i>&nbsp;&nbsp;<b>Create Team</b></h3>

                            @using (Html.BeginForm("#"))
                            {
                                @Html.ValidationSummary(true)


                                <div class="form-group ctrlHolder input-group">
                                    <span class="input-group-addon"><b><i class="fa fa-smile-o"></i></b></span>


                                    <input class="form-control text" id="TeamName" name="TeamName" placeholder="Your Team Name" size="15" type="text" spellcheck="true" required>

                                </div>
                                <div class="input-group ctrlHolder form-group">
                                    <span class="input-group-addon">&nbsp;<i class="fa fa-map-marker"></i></span>
                                    <input class="form-control text" id="address" name="address" placeholder="Address" size="15" type="text" required />
                                </div>




                                <div style="color:black" class="input-group ctrlHolder form-group">

                                    <h6>
                                        <select id="Gender" name="Gender" required>
                                            <option value="Male">-Select- </option>
                                            <option value="Male"> Male    </option>
                                            <option value="Female"> Female </option>

                                        </select>
                                    </h6>
                                </div>
                                <div class="input-group ctrlHolder form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />

                                </div>


                            }
                            @{ Html.EndForm();}

                            <hr class='transparent'>

                            <div class="buttonHolder">





                                <p>

                                </p>

                            </div>


                        </div>
                        <div class='panel-footer'>
                        </div>
                    </div>


                    <h6>
                        <a data-dismiss="modal" class='white'>Close &times;</a>
                    </h6>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <hgroup>
        <h1>Login.</h1>
        <h2>U are Login.</h2>
    </hgroup>
</body>
</html>