@{
    ViewBag.Title = "Index";
    
} 
<html>
<body>

   

    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS STYLE SHEET -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- BACKGROUND VIDEO PLUGIN  -->
    <script src="~/Scripts/jquery.mb.YTPlayer.js"></script>
    <!-- SCROLLING SCRIPTS PLUGIN  -->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <!-- CUSTOM SCRIPTS   -->
    <script src="~/Scripts/custom.js"></script>


<div id="home">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">

                <h1>Game Trilogy </h1>
                <h2>TAKE THE HASSLE OUT OF ORGANIZING </h2>
                <p class="p-cls">
                    Create & Manage your own team
                </p>
            </div>

        </div>
    </div>

</div>
    
<!--HOME SECTION END  -->
<section id="services">
    <div class="container">
        <div class="row text-center pad-bottom">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <h2 class="head-set">FEATURES</h2>
                <p>
                    Better Team Management then ever before, with real time chatting feature
                </p>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <i class="fa fa-recycle  fa-5x"></i>
                <h4 class="head-set">Create Team</h4>
                <p>
                    Create your team and add team members
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <i class="fa fa-desktop  fa-5x"></i>
                <h4 class="head-set">Manage Events </h4>
                <p>
                    Manage your events
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <i class="fa fa-bolt  fa-5x"></i>
                <h4 class="head-set">Chat In Real Time</h4>
                <p>
                    Real time approach provides you better access
                </p>
            </div>
        </div>
    </div>
</section>
<!--SERVICES SECTION END  -->
<div class="parallax-like">
    <div class="overlay">


        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div>
                        <strong>Football</strong>
                        <p>
                            Team
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div>
                        <strong>Hockey</strong>
                        <p>
                            Team
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div>
                        <strong>Cricket</strong>
                        <p>
                            Team
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--PARALLAX LIKE / STATS SECTION END  -->
    
<!--WORKS / PORTFOLIO SECTION END  -->
@*<div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Ycv5fNd4AeM',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">*@
    <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
    @*<div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">


                    </div>
                </div>
            </div>
        </div>

    </div>*@
    </body>


</html>